Autor: Albert Ripoll Batlló

## Palabras

In [40]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Imprime todas las letras en mayuscula**

In [41]:
# Por cada palabra que haya en la lista "words"
for word in words:
  # Imprime la palabra en maúsculas "upper"
  print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Crea una nueva lista de palabras que contengan 5 o más letras**

In [42]:
import random
import string

def generar_palabras_aleatorias(n:int) -> list:
  """
  Genera "n" palabras aleatorias de 5 a 10 letras aleatorias del abecedario.
  Entradas:
  n (int): Número de palabras aleatorias a generar.
  Salidas:
  palabras (list of strings): Lista de palabras aleatorias.
  """
    # Lista para almacenar las palabras aleatorias
  palabras = []
  # Se generan "n" palabras. _ indica posición de variable que no se usa.
  for _ in range(n):
      # Se generan enteros de 5 a 10.
      longitud = random.randint(5, 10)
      # Se selecionan "choices" tantas letras de del alfabeto "ascii" como longitud de la palabra.
      palabra = ''.join(random.choices(string.ascii_lowercase, k=longitud))
      # Se añaden las palabras aleatorias
      palabras.append(palabra)
  return palabras

palabras_aleatorias = generar_palabras_aleatorias(10)
print(palabras_aleatorias)

['oyprb', 'zeofhtsth', 'ejatdjp', 'ufrghlyspc', 'cylnykwqhv', 'ralqipxhem', 'uxsixr', 'vagjdle', 'zmvoieaf', 'vismlgmpo']


**Imprime la primera palabra que empiece por 't'**

In [43]:
def primera_palabra_t(n:int):
  """
  Genera "n" palabras aleatorias de 5 a 10 letras aleatorias del abecedario.
  Y imprime la primera palabra que empieza por t.
  Entradas:
  n (int): Número de palabras aleatorias a generar.
  Salidas:
  print: La primera palabra que empieza por t si hay.
  """
  # Se generan "n" palabras. _ indica posición de variable que no se usa.
  for _ in range(n):
      # Se generan enteros de 5 a 10.
      longitud = random.randint(5, 10)
      # Se selecionan "choices" tantas letras de del alfabeto "ascii" como longitud de la palabra.
      palabra = ''.join(random.choices(string.ascii_lowercase, k=longitud))
      # Si la palabra empieza por "t", la imprime y deja de generar palabras.
      if palabra[0] == "t":
        print(palabra)
        break
primera_palabra_t(100)

tvcodk

## Números

**Crea una lista que contenga el cuadrado de cada numero entre 1 y 10**

In [44]:
# Se genera lista vacía para almacenar los cuadrados
cuadrados = []
# Para los números del 1 al 11 excluido se añaden los cuadrados a la lista
for i in range(1,11):
  cuadrados.append(i**2)
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Imprime una lista que contenga el cuadrado de cada número impar del 1 al 10**

In [45]:
# Se genera lista vacía para almacenar los cuadrados
cuadrados_impar = []
# Para los números del 1 al 11 excluido
for i in range(1,11):
  # Si el residuo de la division es diferente de 0 (es impar)
  if i % 2 != 0:
    # Se añaden los cuadrados a la lista
    cuadrados_impar.append(i**2)
print(cuadrados_impar)

[1, 9, 25, 49, 81]

**Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000**

In [46]:
# Se genera lista vacía para almacenar los cuadrados
cuadrados_mult = []
# Se inicializa el primer múltiplo de 8.
i=8
# Mientras el valor del cuadrado sea menor a 1000
while i**2<1000:
  # Se añade el cuadrado a la lista
  cuadrados_mult.append(i**2)
  # Se genera el siguiente múltiplo de 8
  i+=8
print(cuadrados_mult)

[64, 256, 576]

## People

In [47]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**Cuánta gente hay?**

In [48]:
# Suponiendo que cada entrada es una persona distinta
len(people)

5

**Cuanta gente tiene hijos**?

In [49]:
# Primera iteración sobre las personas
for person in people:
  print(person)

{'name': 'Juan', 'age': 34, 'n_kids': 2}
{'name': 'Pepe', 'age': 27, 'n_kids': 0}
{'name': 'Sonia', 'age': 41, 'n_kids': 1}
{'name': 'Lucía', 'age': 22, 'n_kids': 2}
{'name': 'Leo', 'age': 55, 'n_kids': 5}

In [50]:
# Primera iteración sobre las personas
for person in people:
  # Acceso al número de niños de cada persona
  print(person["n_kids"])

2
0
1
2
5

In [51]:
# SOLUCIÓN EJERCICIO: Contaje de personas con hijos (para cada persona con hijos se suma 1 al count)
count = 0
for person in people:
  if person["n_kids"] > 0:
    count += 1
print(count)

4

**Cuantos hijos tienen en total?**

In [52]:
# Se suma el número de niños para cada persona (no hace falta el if ya que se suma 0 si no tiene hijos).
count = 0
for person in people:
  count += person["n_kids"]
print(count)

10

**En un año, los nombres que terminen en "a" tendrán un niño extra. Crea una lista de diccionarios con la información de las personas en un año**

In [53]:
# Acceso a la última letra del nombre.
for person in people:
  print(person["name"][-1])

n
e
a
a
o

In [54]:
for person in people:
  # Se suma un año a todas las personas (ya que estamos en la situación 1 año más adelante)
  person["age"] += 1

  # Si la última letra del nombre es a, se suma 1 a la cantidad de niños
  if person["name"][-1] == "a":
    person["n_kids"] += 1

print("Original people:")
print("{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 1}, {'name': 'Lucía', 'age': 22, 'n_kids': 2}, {'name': 'Leo', 'age': 55, 'n_kids': 5}")

print("\nNew people:\n", people)

Original people:
{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 1}, {'name': 'Lucía', 'age': 22, 'n_kids': 2}, {'name': 'Leo', 'age': 55, 'n_kids': 5}

New people:
 [{'name': 'Juan', 'age': 35, 'n_kids': 2}, {'name': 'Pepe', 'age': 28, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Lucía', 'age': 23, 'n_kids': 3}, {'name': 'Leo', 'age': 56, 'n_kids': 5}]